src/main/mule/kajaal.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="56380449-cf00-4f5e-a7fd-bb701fbf253d" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="kajaalFlow" doc:id="98ddcf5c-1fc3-468e-b294-830611ba1831" >
		<http:listener doc:name="Listener" doc:id="2035f049-8155-446f-bb01-746d520d4e67" config-ref="HTTP_Listener_config" path="/kajal"/>
		<logger level="INFO" doc:name="Logger" doc:id="680d916d-d9fc-4626-9836-73e3dce05e54" message="#[payload]"/>
		<logger level="INFO" doc:name="Logger" doc:id="3de1bf3e-b2ac-4861-b115-2d42b104569c" />
	</flow>
</mule>
